{% extends "base.html" %}

{% block title %}bag{% endblock %}

{% block content %}

<div class="bag-container">
  <div id="bag-title">
    <h2>My Bag</h2>
  </div>
    {% if bag_items %}
      <div id="bag">
        {% for item in bag_items %}
        <ul class="bag-wrapper">
          <li class="items">
            <div class="info">
              <div class="bag-section">
                <img class= "item-image" src="{{ item.product.image.url }}"/>
                <p class="item-number">SKU: {{ item.product.sku|upper }}</p>
                <h3>{{ item.product.name }}</h3>
                <p class="bag-category"> {{ item.product.category.singular_name }}</p>
              </div>
              <div class="product-total bag-section">
                <p>${{ item.product.price }}</p>
              </div>
              <div class="bag-section remove-wrap">
               <a href="#" class="remove">x</a>
              </div>
            </div>
          </li>
        </ul>
        {% endfor %}
        <div class="subtotal">
          <div class="label-sub">
            <p class="label">Subtotal</p>
            <p class="label">Shipping</p>
            <p class="label-final">Total</p>
          </div>
          <div class="value-sub">
            <p class="value">${{ total|floatformat:2 }}</p>
            <p class="value">${{ delivery|floatformat:2 }}</p>
            <p class="value-final">${{ grand_total|floatformat:2 }}</p>
          </div>
        </div>
        <div class="checkout-button-container">
          <a href="#" class="btn-checkout btn">Checkout</a>
        </div>
      </div>
  {% else %}
    <div id="empty-bag">
      <p>Your bag is currently empty.</p>
      <div class="product-button">
        <a class="btn" href="{% url 'products' %}">Keep Shopping</a>
      </div>
    </div>
  {% endif %}
</div>

{% endblock %}
