{% extends "base.html" %}

{% block title %}home{% endblock %}

{% block content %}

<!-- Hero Content -->
<div class="container">
  <!-- Slider -->
  <div class="mySwiper">
    <!-- Left Navigation Arrow -->
    <div class="navigation-arrow-container">
      <ul class="navigation-arrows">
        <li class="arrow-left"></li>
      </ul>
    </div>
    <!-- End Left Navigation Arrow -->
    <div class="hero-wrapper swiper-wrapper">
      <!-- Slide #01 -->
      <div class="hero-section swiper-slide">
        <!-- Slider Text #01 -->
        <div class="left-side">
          <div class="hero-wrapper">
            <h2 class="hero-header">Acryllic Frame</h2>
            <h3 class="hero-title">Prints</h3>
            <h4 class="hero-subtitle">$39.99</h4>
          </div>
          <div class="hero-content">
            <div class="hero-content__title">Straight from the canvas to the walls of your home.
            </div>
            <div class="hero-content__subtitle">Handcrafted with love care, manually checked to see if it's of a high standard, and then shipped by hand.</div>
            <div class="hero-btn">
              <a class="btn" href="https://neon-shore-a156870f9760.herokuapp.com/products/?category=prints">buy now</a>
            </div>
          </div>
        </div>
        <!-- End Slider Text #01 -->

        <!-- Slider Image #01 -->
        <div class="right-side">
          <div class="cover">
            <img class="hero-img" src="https://neon-shore-bucket.s3.eu-north-1.amazonaws.com/media/prints.webp" alt="Prints">
          </div>
        </div>
        <!-- End Slider Image #01 -->
      </div>
      <!-- End Slide #01 -->

      <!-- Slide #02 -->
      <div class="hero-section swiper-slide">
        <div class="left-side">
          <!-- Slider Text #02 -->
          <div class="hero-wrapper">
            <h2 class="hero-header">Original Character</h2>
            <h3 class="hero-title">Artbook</h3>
            <h4 class="hero-subtitle">$29.99</h4>
          </div>
          <div class="hero-content">
            <div class="hero-content__title">From conception to finalisation, and everything in-between. The story of Connolly Faust.
            </div>
            <div class="hero-content__subtitle">Over 40 unique illustrations featuring Connolly and other characters, as well as never before seen bonus illustrations as a thank you.</div>
            <div class="hero-btn">
              <a class="btn" href="{% url 'products/5/' %}">buy now</a>
            </div>
            </a>
          </div>
        </div>
        <!-- End Slider Text #02 -->

        <!-- Slider Image #02 -->
        <div class="right-side">
          <div class="cover">
            <img class="hero-img" src="https://neon-shore-bucket.s3.eu-north-1.amazonaws.com/media/artbook.webp" alt="Artbook">
          </div>
        </div>
        <!-- End Slider Image #02 -->
      </div>
      <!-- End Slide #02 -->

      <!-- Slide #03 -->
      <div class="hero-section swiper-slide">
        <!-- Slider Text #03 -->
        <div class="left-side">
          <div class="hero-wrapper">
            <h2 class="hero-header">Enamel Frame</h2>
            <h3 class="hero-title">Pins</h3>
            <h4 class="hero-subtitle">$24.99</h4>
          </div>
          <div class="hero-content">
            <div class="hero-content__title">Straight from the canvas to the walls of your home.
            </div>
            <div class="hero-content__subtitle">Handcrafted with love care, manually checked to see if it's of a high standard, and then shipped by hand.</div>
            <div class="hero-btn">
              <a class="btn" href="https://neon-shore-a156870f9760.herokuapp.com/products/?category=pins">buy now</a>
            </div>
          </div>
        </div>
        <!-- End Slider Text #03 -->

        <!-- Slider Image #03 -->
        <div class="right-side">
          <div class="cover">
            <img class="hero-img" src="https://neon-shore-bucket.s3.eu-north-1.amazonaws.com/media/pins.webp" alt="Pins">
          </div>
        </div>
        <!-- End Slider Image #03 -->
      </div>
      <!-- End Slide #03 -->

      <!-- Slide #04 -->
      <div class="hero-section swiper-slide">
        <!-- Slider Text #04 -->
        <div class="left-side">
          <div class="hero-wrapper">
            <h2 class="hero-header">Rubber Frame</h2>
            <h3 class="hero-title">Charms</h3>
            <h4 class="hero-subtitle">$14.99</h4>
          </div>
          <div class="hero-content">
            <div class="hero-content__title">Simple, cute, and easy to display all your favourite characters with.
            </div>
            <div class="hero-content__subtitle">Handcrafted with love care, manually checked to see if it's of a high standard, and then shipped by hand.</div>
            <div class="hero-btn">
              <a class="btn" href="https://neon-shore-a156870f9760.herokuapp.com/products/?category=charms">buy now</a>
            </div>
          </div>
        </div>
        <!-- End Slider Text #04 -->

        <!-- Slider Image #04 -->
        <div class="right-side">
          <div class="cover">
            <img class="hero-img" src="https://neon-shore-bucket.s3.eu-north-1.amazonaws.com/media/charms.webp" alt="Charms">
          </div>
        </div>
        <!-- End Slider Image #04 -->
      </div>
      <!-- End Slide #04 -->
    </div>
    <!-- Right Navigation Arrow -->
    <div class="navigation-arrow-container">
      <ul class="navigation-arrows">
        <li class="arrow-right"></li>
      </ul>
    </div>
    <!-- End Right Navigation Arrow -->
  </div>
  <!-- End Slider -->

  <!-- Swiper Pagination -->
  <div class="pagination-wrapper">
    <div class="swiper-pagination"></div>
  </div>
  <!-- End Swiper Pagination -->
</div>
<!-- End Hero Content -->

{% endblock %}
