{% extends "base.html" %}

{% block title %}my profile{% endblock %}

{% block content %}

<section class="profile-container">
  <div id="profile-wrapper">
    <div id="profile">
      <div class="profile-navigation">
        <span class="profile-menu profile-hamburger">
            <span></span>
            <span></span>
            <span></span>
        </span>
        <div id="profile-links-container">
          <a href="{% url 'profile' %}">
            <div class="profile-link">
              <span>Profile</span>
            </div>
          </a>
          <a href="{% url 'profile_details' %}">
            <div class="profile-link">
              <span>Details</span>
            </div>
          </a>
          <a href="{% url 'profile_orders' %}">
            <div class="profile-link">
              <span>Orders</span>
            </div>
          </a>
          <a href="{% url 'profile_account' %}">
            <div class="profile-link active">
              <span>Account</span>
            </div>
          </a>
        </div>
      </div>
      <div class="profile-details">
        <div class="general">
            <h2 class="title">Account</h2>
            <p>Welcome, {{profile}}!</p>
            <p>This is your profile dashboard, where you can add, modify, and delete addresses, view all orders, and change your account details such as your password and e-mail.</p>
            <p>We hope you have a pleasant shopping experience!</p>
            <button class="btn">Store</button>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
