{% extends "base.html" %}

{% block title %}admin{% endblock %}

{% block content %}

<section class="profile-container">
  <div id="profile-wrapper">
    <div id="profile">
      <div class="profile-navigation">
        <span class="profile-menu profile-hamburger">
            <span></span>
            <span></span>
            <span></span>
        </span>
        <div id="profile-links-container">
          <a href="{% url 'profile' %}" class="profile-link">
            <span>Profile</span>
          </a>
          <a href="{% url 'profile_details' %}" class="profile-link">
            <span>Details</span>
          </a>
          <a href="{% url 'profile_orders' %}" class="profile-link">
            <span>Orders</span>
          </a>
          <a href="{% url 'profile_account' %}" class="profile-link">
            <span>Account</span>
          </a>
          {% if request.user.is_superuser %}
          <a href="{% url 'profile_admin' %}" class="profile-link active">
            <span>Admin</span>
          </a>
          {% endif %}
        </div>
      </div>
      <div class="profile-details">
        <div class="general">
          <h2 class="title">Admin</h2>
          <p>Welcome, {{profile}}!</p>
          <p>This is the product management part of your profile where you're able to add products as you wish.</p>
          <p>If you'd like to edit or delete a product, you'll have to navigate to the specific product you're looking to change and do it from that page.</p>
          <a href="{% url 'add_product' %}" class="btn">
            Add Product
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{% load static %}
<script src="{% static 'profiles/js/profile-sidebar.js' %}"></script>

{% endblock %}
