{% extends "base.html" %}

{% block title %}details{% endblock %}

{% block content %}

<section class="profile-container">
  <div id="profile-wrapper">
    <div id="profile">
      <div class="profile-navigation">
        <span class="profile-menu profile-hamburger">
            <span></span>
            <span></span>
            <span></span>
        </span>
        <div id="profile-links-container">
          <a href="{% url 'profile' %}" class="profile-link">
            <span>Profile</span>
          </a>
          <a href="{% url 'profile_details' %}" class="profile-link active">
            <span>Details</span>
          </a>
          <a href="{% url 'profile_orders' %}" class="profile-link">
            <span>Orders</span>
          </a>
          <a href="{% url 'profile_account' %}" class="profile-link">
            <span>Account</span>
          </a>
          {% if request.user.is_superuser %}
          <a href="{% url 'profile_admin' %}" class="profile-link">
            <span>Admin</span>
          </a>
          {% elif request.user.is_authenticated %}
          <a href="{% url 'profile_wishlist' %}" class="profile-link">
            <span>Wishlist</span>
          </a>
          {% endif %}
        </div>
      </div>
      <div class="profile-details">
        <div class="general">
            <h2 class="title">Details</h2>
            <p>Welcome, {{profile}}!</p>
            <p> Here you can add new delivery details, or add or even delete existing details.</p>
            <h3 class="title" id="smaller-title">Delivery Information</h3>
            <form id="profile-update-form" action="{% url 'profile_details' %}" method="POST">
              {% csrf_token %}
              {{ form|crispy }}
              <button class="btn">Update Information</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% load static %}
<script src="{% static 'profiles/js/profile-sidebar.js' %}"></script>

{% endblock %}
