{% extends "base.html" %}

{% block title %}my profile{% endblock %}

{% block content %}

<section class="profile-container">
  <div id="profile-wrapper">
    <div id="profile">
      <div class="profile-navigation">
        <span class="profile-menu profile-hamburger">
            <span></span>
            <span></span>
            <span></span>
        </span>
        <div id="profile-links-container">
          <a href="{% url 'profile' %}" class="profile-link active">
            <span>Profile</span>
          </a>
          <a href="{% url 'profile_details' %}" class="profile-link">
            <span>Details</span>
          </a>
          <a href="{% url 'profile_orders' %}" class="profile-link">
            <span>Orders</span>
          </a>
          <a href="{% url 'profile_account' %}" class="profile-link">
            <span>Account</span>
          </a>
          {% if request.user.is_superuser %}
          <a href="{% url 'profile_admin' %}" class="profile-link">
            <span>Admin</span>
          </a>
          {% elif request.user.is_authenticated %}
          <a href="{% url 'profile_wishlist' %}" class="profile-link">
            <span>Wishlist</span>
          </a>
          {% endif %}
        </div>
      </div>
      <div class="profile-details">
        <div class="general">
            <h2 class="title">Profile</h2>
            <p>Welcome, {{profile}}!</p>
            <p>This is your profile dashboard, where you can add, modify, and delete addresses, view all orders, and change your account details such as your password and e-mail.</p>
            {% if request.user.is_superuser %}
            <p>If you're looking to add a product, you can do so via the Admin part of your user profile.</p>
            <a class="btn" href="{% url 'profile_admin' %}">Admin</a>
            {% else %}
            <p>We hope you have a pleasant shopping experience!</p>
            <a class="btn" href="{% url 'products' %}">Store</a>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% load static %}
<script>
  /* Profile Sidebar */

window.addEventListener("load", event => {

    // Expand Left Side
    var icon = document.querySelector('.profile-hamburger'),
        left = document.querySelector('.profile-navigation');


    icon.addEventListener('click', expand);

    function expand() {
        if (left.classList.contains('show')) {
            left.classList.remove('show')
        } else {
            left.classList.add('show')
        }
    }
});
</script>

{% endblock %}
