/*/// Table of Contents ///*/
/*/// 1. Fonts ///*/
/*/// 2. Global Variables ///*/
/*/// 3. Common Styles ///*/
/*/// 4. Navigation ///*/
/*/// 5. Mobile Navigation ///*/
/*/// 6. Buttons ///*/
/*/// 7. Search ///*/
/*/// 8. Swiper ///*/
/*///   8.1 Swiper Images ///*/
/*///   8.2 Swiper Transitions ///*/
/*///   8.3 Swiper Navigation ///*/
/*///   8.4 Swiper Pagination ///*/
/*/// 9. Footer ///*/
/*///   9.1 Footer Animation ///*/
/*///   9.2 Footer Mobile ///*/
/*///   9.3 Footer Social Media icons ///*/
/*/// 10. Media Query ///*/
/*///   10.1 Navigation Query ///*/

/* 1. Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

/* 2. Global Variables */

:root {
  --font-color: #4f5356;
  --body-color: #edeade;
  --font: "Montserrat", sans-serif;
}

/* 3. Common Styles */

* {
  margin: 0;
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

body {
  width: 100vw;
  height: 100vh;
  font-family: var(--font);
  text-transform: lowercase;
  color: var(--font-color);
  background: var(--body-color);
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

/* 4. Navigation */

#navigation-bar {
  height: 62px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  white-space: nowrap;
  position: sticky;
  z-index: 6;
  top: 0;
  left: 0;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 1px solid rgba(44, 45, 42, 0.25);
  background-color: var(--body-color);
  padding: 0 30px;
}

#logo {
  display: flex;
  align-content: center;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  letter-spacing: 2px;
}

#logo-image {
  width: 30px;
  padding-right: 10px;
}

#navigation-menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}

#navigation-menu a:not(:first-child) {
  margin-left: 30px;
}

#navigation-icons {
  margin-left: auto;
  display: flex;
  align-items: center;
}

#shopping-bag svg {
  height: 20px;
}

#profile-icon {
  width: 18px;
  margin-right: 20px;
}

#navigation-menu a,
#logo-text,
#navigation-icons svg {
  transition: 0.3s ease-in-out;
}

#navigation-menu a:hover,
#logo-text:hover,
#navigation-icons svg:hover {
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}

/* 5. Mobile Navigation */

#fullscreen-navigation {
  position: relative;
  z-index: 15;
}

.menu-icon {
  height: 30px;
  width: 30px;
  position: fixed;
  z-index: 2;
  right: 50px;
  top: 50px;
  cursor: pointer;
  display: none;
}

.line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: var(--font-color);
  margin-bottom: 4px;
  transition: transform 0.2s ease, 0.5s ease;
  display: none;
}

.line-left {
  width: 15px;
}

.line-right {
  width: 15px;
  float: right;
}

.mobile-navigation {
  position: fixed;
  z-index: 1;
}

.mobile-navigation:before, .mobile-navigation:after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #faf9f5;
  z-index: -1;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transform: translateX(0%) translateY(-100%);
}

.mobile-navigation:after {
  background: #fffffe;
  transition-delay: 0s;
}

.mobile-navigation:before {
  transition-delay: 0.1s;
}

.mobile-content {
  position: fixed;
  top: 50%;
  transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
  font-size: calc(2vw + 10px);
  font-weight: 200;
  cursor: pointer;
}

.mobile-list-item {
  position: relative;
  display: flex;
  justify-content: center;
  transition-delay: 0.8s;
  color: #aaa;
  opacity: 0;
  transform: translate(0%, 100%);
  transition: opacity 0.2s ease, transform 0.3s ease;
  margin-bottom: 25px;
}

.mobile-list-item:before {
  content: "";
  position: absolute;
  background: #d9d9d9;
  width: 0px;
  height: 2px;
  top: 100%;
  transform: translate(0%, 0%);
  transition: all 0.3s ease;
  z-index: -1;
}

.mobile-list-item:hover:before {
  width: 10%;
}

body.mobile-navigation-active .line {
  background-color: #aaa;
  transform: translateX(0px) rotate(-45deg);
}

body.mobile-navigation-active .line-left {
  transform: translateX(1px) rotate(45deg);
}

body.mobile-navigation-active .line-right {
  transform: translateX(-2px) rotate(45deg);
}

body.mobile-navigation-active .mobile-navigation {
  visibility: visible;
}

body.mobile-navigation-active .mobile-navigation:before, body.mobile-navigation-active .mobile-navigation:after {
  transform: translateX(0%) translateY(0%);
}

body.mobile-navigation-active .mobile-navigation:after {
  transition-delay: 0.1s;
}

body.mobile-navigation-active .mobile-navigation:before {
  transition-delay: 0s;
}

body.mobile-navigation-active .mobile-list-item {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

body.mobile-navigation-active .mobile-list-item:nth-child(0) {
  transition-delay: 0.5s;
}

body.mobile-navigation-active .mobile-list-item:nth-child(1) {
  transition-delay: 0.6s;
}

body.mobile-navigation-active .mobile-list-item:nth-child(2) {
  transition-delay: 0.7s;
}

body.mobile-navigation-active .mobile-list-item:nth-child(3) {
  transition-delay: 0.8s;
}

body.mobile-navigation-active .mobile-list-item:nth-child(4) {
  transition-delay: 0.9s;
}

body.mobile-navigation-active .mobile-list-item:nth-child(5) {
  transition-delay: 1.0s;
}

/* 6. Buttons */

.cta-btn {
  display: inline-block;
  padding: 1em 2em;
  border-radius: 0;
  color: var(--font-color);
  font-weight: bold;
  font-size: 0.678rem;
  letter-spacing: 2px;
  text-transform: lowercase;
  text-decoration: none;
  background: linear-gradient(
    to right,
    rgba(178, 135, 111, 0) 25%,
    rgba(178, 135, 111, 0.8) 75%
  );
  background-position: 1% 50%;
  background-size: 400% 300%;
  border: 1px solid var(--font-color);
  transition: 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cta-btn:hover {
  transition: 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cta-btn:hover {
  color: white;
  color: #fff;
  background-position: 99% 50%;
}

/* 7. Search */

#search {
  display: table;
  margin-right: 19px;
}

#search input {
  background: none;
  border: none;
  outline: none;
  width: 28px;
  min-width: 0;
  padding: 0;
  z-index: 1;
  position: absolute;
  line-height: 18px;
  margin: 5px 0;
  font-size: 14px;
  -webkit-appearance: none;
  font-family: var(--font);
  transition: all 0.6s ease;
  cursor: pointer;
  color: var(--font-color);
  top: 14px;
  right: 105px;
}

#search input + div {
  position: relative;
  height: 23px;
  width: 100%;
  margin: -28px 0 0 0;
}

#search input + div svg {
  display: block;
  position: absolute;
  height: 23px;
  width: 160px;
  right: -13px;
  top: 17px;
  fill: none;
  stroke: var(--font-color);
  stroke-width: 1.5px;
  stroke-dashoffset: 271.908;
  stroke-dasharray: 59 212.908;
  transition: all 0.6s;
}

#search input:not(:placeholder-shown),
#search input:focus {
  width: 129px;
  padding: 0 4px;
  cursor: text;
}

#search input:not(:placeholder-shown) + div svg,
#search input:focus + div svg {
  stroke-dasharray: 150 212.908;
  stroke-dashoffset: 300;
}

::selection {
  background: rgba(255, 255, 255, 0.2);
}

::-moz-selection {
  background: rgba(255, 255, 255, 0.2);
}

/* 8. Swiper */

.mySwiper {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.mySwiper .hero-section {
  padding: 0px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-grow: 1;
  position: relative;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin: auto 110px auto 100px;
}

.hero-wrapper {
  width: 390px;
}

.hero-content {
  max-width: 390px;
}

.hero-header {
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: 600;
  transition-delay: 0.2s;
  margin-left: 5px;
}

.hero-title {
  font-family: var(--font);
  font-size: 80px;
  font-weight: 400;
  margin-top: 10px;
  line-height: 1em;
  transition-delay: 0.3s;
}

.hero-subtitle {
  font-family: var(--font);
  font-weight: 400;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition-delay: 0.4s;
}

.hero-content__title {
  font-size: 22px;
  font-family: var(--font);
  font-style: italic;
  margin-bottom: 20px;
  transition-delay: 0.2s;
}

.hero-content__subtitle {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 25px;
  letter-spacing: -0.01em;
  transition-delay: 0.3s;
}

.right-side {
  display: flex;
  position: relative;
  flex-shrink: 0;
  justify-content: center;
  align-items: first baseline;
  flex-direction: column;
  margin: auto 100px auto 0px;
}

/* 8.1 Swiper Images */

.cover {
  width: min(500px, 100%);
  margin: 20px 0;
  border: 20px solid #fff;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.6);
}

.hero-img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  mask: url("https://raw.githubusercontent.com/supahfunk/supah-codepen/master/painting-sprite-2.png");
}

/* 8.2 Swiper Transitions */

.swiper-slide {
  opacity: 0 !important;
  transition: 0.4s;
}

.swiper-slide-active {
  opacity: 1 !important;
}

.swiper-slide .main-wrapper > *,
.swiper-slide .hero-content > * {
  transform: translateY(-30px);
  opacity: 0;
  transition-duration: 0.8s;
}

.swiper-slide .main-wrapper > *,
.swiper-slide .hero-content > .hero-btn {
  transition-duration: 1.2s;
  transition-timing-function: ease;
}

.swiper-slide-active .main-wrapper > *,
.swiper-slide-active .hero-content > * {
  transform: none;
  opacity: 1;
}

.swiper-slide .cover {
  transition-duration: 0.8s;
  opacity: 0;
}

.swiper-slide-active .cover {
  opacity: 1;
}

/* 8.3 Swiper Navigation */

.navigation-arrow-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.navigation-arrow-container .navigation-arrows {
  margin: 0;
  list-style-type: none;
}

.navigation-arrow-container .navigation-arrows li {
  position: absolute;
  bottom: calc(46.5%);
  width: 2em;
  height: 2em;
  border: 6px solid var(--font-color);
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  padding: 2px;
  z-index: 5;
}

.navigation-arrow-container .navigation-arrows li.arrow-left {
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(-45deg);
  transition: 0.3s ease-in-out;
  left: 12%;
}

.navigation-arrow-container .navigation-arrows li.arrow-right {
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(45deg);
  transition: 0.3s ease-in-out;
  right: 12%;
}

.navigation-arrow-container .navigation-arrows li.arrow-left:hover {
  border-left-color: var(--font-color);
  border-top-color: var(--font-color);
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}

.navigation-arrow-container .navigation-arrows li.arrow-right:hover {
  border-right-color: var(--font-color);
  border-top-color: var(--font-color);
  opacity: 0.7;
  transition: 0.3s ease-out;
}

.navigation-arrow-container .navigation-arrows li.arrow-left:active {
  transform: rotate(-45deg) scale(0.9);
}

.navigation-arrow-container .navigation-arrows li.arrow-right:active {
  transform: rotate(45deg) scale(0.9);
}

/* 8.4 Swiper Pagination */

.container .swiper-pagination {
  position: relative;
  margin-bottom: 50px;
}

.container .swiper-pagination-bullet {
  background: #000;
  opacity: 0.2;
  width: 12px;
  height: 12px;
  transition: opacity 0.3s ease-in-out;
}

.container .swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 5px;
}

.container .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
  top: auto;
  right: auto;
  left: 0;
  width: 100%;
}

.container .swiper-pagination > .swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--font-color);
  transition-delay: 0.2s;
}

/* 9. Footer */

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

#footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 15vh;
  text-align: center;
  background-color: #fffffe;
}

#footer-text p {
  color: #bbb;
  margin-bottom: 50px;
}

/* 9.1 Footer Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}

/* 9.2 Footer Mobile */

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}

/* 9.3 Footer Social Icons */

#footer-icons {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 25px 0px;
}

.social-icon-icon {
  width:  30px;
  height: 30px;
  fill: currentColor;
  transition: .5s;
}

.social-icon-icon:hover {
  transition: .5s;
}

.social-icon-link--twitter:hover   { color: #55acee }
.social-icon-link--pixiv:hover    { color: #009cff }
.social-icon-link--weibo:hover    { color: #ea0f1f }
.social-icon-link--twitter:hover::after   { background: #55acee }
.social-icon-link--pixiv:hover::after  { background: #009cff }
.social-icon-link--weibo:hover::after  { background: #ea0f1f }

.social-icon-link {
  position: relative;
  color: #bbb;
}

.social-icon-link:not(:last-of-type) {
  margin-right: 15px;
}

.social-icon-tooltip::before,
.social-icon-tooltip::after {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10px);
  opacity: 0;
  transition: .4s;
}

.social-icon-tooltip::before {
  content: '';
  bottom: calc(100% + 2px);
  border: solid 5px transparent;
  border-top-color: currentColor;
}

.social-icon-tooltip::after {
  content: attr(aria-label);
  bottom: calc(100% + 12px);
  padding: .61em .93em;
  font-size: .875rem;
  color: white;
  border-radius: 3px;
}

.social-icon-tooltip:hover::before,
.social-icon-tooltip:hover::after {
  opacity: 1;
  transform: translate(-50%);
}

/* 10. Media Query */

/* 10.1 Navigation Query */

@media screen and (max-width: 1000px) {
  #navigation-bar {
    display: none;
  }
  .line,
  .menu-icon,
  #fullscreen-navigation {
    display: block;
  }
}
