/*/// Table of Contents ///*/
/*/// 1. Fonts ///*/
/*/// 2. Global Variables ///*/
/*/// 3. Common Styles ///*/
/*/// 4. Navigation ///*/
/*/// 5. Mobile Navigation ///*/
/*/// 6. Buttons ///*/
/*/// 7. Search ///*/
/*/// 8. Mobile Search ///*/
/*/// 9. Swiper ///*/
/*///   9.1 Swiper Images ///*/
/*///   9.2 Swiper Transitions ///*/
/*///   9.3 Swiper Navigation ///*/
/*///   9.4 Swiper Pagination ///*/
/*/// 10. Footer ///*/
/*///   10.1 Footer Animation ///*/
/*///   10.2 Footer Mobile ///*/
/*///   10.3 Footer Social Media icons ///*/
/*/// 11. Forms ///*/
/*/// 12. Store ///*/
/*/// 13. Product Details ///*/
/*/// 14. Bag ///*/
/*/// 15. Checkout ///*/
/*///   15.1 Checkout Sucess ///*/
/*///   15.2 Checkout Overlay ///*/
/*/// 16. SweetAlert Toast Modal ///*/
/*/// 17. Profile ///*/
/*///   17.1 Profile Order History ///*/
/*/// 18. Error Pages ///*/
/*/// 19. About ///*/
/*/// 20. Product Management ///*/
/*/// 21. Wishlist ///*/
/*/// 22. Newsletter ///*/
/*/// 23. Testimonials ///*/
/*/// 24. Media Query ///*/
/*///   24.1 Navigation Query ///*/
/*///   24.2 Store Query ///*/
/*///   24.3 Product Details Query ///*/
/*///   24.4 Bag Query ///*/
/*///   24.5 Checkout Query ///*/
/*///   24.6 Checkout Success Query ///*/
/*///   24.7 Profile Query ///*/
/*///   24.8 Profile Order Query ///*/
/*///   24.9 Errors Query ///*/
/*///   24.10 About Query ///*/
/*///   24.11 Product Management Query ///*/
/*///   24.12 Home Query ///*/

/* 1. Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

/* 2. Global Variables */

:root {
  --font-color: #4f5356;
  --body-color: #edeade;
  --font: "Montserrat", sans-serif;
}

/* 3. Common Styles */

* {
  margin: 0;
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

body {
  height: 100vh;
  font-family: var(--font);
  text-transform: lowercase;
  color: var(--font-color);
  background: var(--body-color);
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  padding: 20px 0;
}

.products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 4%;
  box-sizing: border-box;
}

.detailed-product-container {
  display: flex;
  padding: 183px 4% 120px 4%;
  width: auto;
  max-width: 900px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bag-container,
.about-container,
.management-container {
  display: table;
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 0px;
  padding: 180px 4%;
}

/* 4. Navigation */


#navigation-bar {
  height: 62px;
  display: grid;
  grid-template-columns: 1fr 0fr 1fr;
  align-items: center;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 1px solid rgba(44, 45, 42, 0.25);
  background-color: var(--body-color);
  margin: 0 30px;
  z-index: 6;
  position: fixed;
  left: 0;
  right: 0;
}

.logo {
  display: flex;
  align-content: center;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  letter-spacing: 2px;
}

.logo-image {
  width: 30px;
  padding-right: 10px;
}

#navigation-menu {
  display: flex;
  align-items: center;
}

#navigation-menu a:not(:first-child) {
  margin-left: 30px;
}

#navigation-icons {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.shopping-bag svg {
  height: 20px;
}

.profile-icon {
  width: 18px;
  margin-right: 20px;
}

.logout {
  width: 22px;
  margin-left: 18px;
  padding-top: 2px;
}

#navigation-menu a,
.logo-text,
#navigation-icons svg {
  transition: 0.3s ease-in-out;
}

#navigation-menu a:hover,
.logo-text:hover,
#navigation-icons svg:hover {
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}

/* 5. Mobile Navigation */

#fullscreen-navigation {
  position: relative;
  z-index: 15;
  display: none;
}

.menu-icon {
  height: 30px;
  width: 30px;
  position: fixed;
  z-index: 2;
  right: 50px;
  top: 50px;
  cursor: pointer;
  display: none;
}

.line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: var(--font-color);
  margin-bottom: 4px;
  transition: transform 0.2s ease, 0.5s ease;
  display: none;
}

.line-left {
  width: 15px;
}

.line-right {
  width: 15px;
  float: right;
}

.mobile-navigation {
  position: fixed;
  z-index: 1;
  pointer-events: none;
}

.mobile-navigation:before, .mobile-navigation:after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #faf9f5;
  z-index: -1;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transform: translateX(0%) translateY(-100%);
}

.mobile-navigation:after {
  background: #fffffe;
  transition-delay: 0s;
}

.mobile-navigation:before {
  transition-delay: 0.1s;
}

.mobile-content {
  position: fixed;
  top: 50%;
  transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
  font-size: calc(2vw + 10px);
  font-weight: 200;
}

.mobile-logo {
  position: fixed;
  display: flex;
  justify-content: center;
  transition-delay: 0.8s;
  opacity: 0;
  transform: translate(0%, 100%);
  transition: opacity 0.2s ease, transform 0.3s ease;
  top: 42px;
  left: 50px;
  z-index: 2;
}

#mobile-navigation-icons {
  position: relative;
  display: flex;
  justify-content: center;
  transition-delay: 0.8s;
  opacity: 0;
  transform: translate(0%, 100%);
  transition: opacity 0.2s ease, transform 0.3s ease;
  z-index: 2;
  margin-top: 75px;
}

#mobile-navigation-icons .profile-icon {
  margin-right: 165px;
  transition: 0.3s;
}

#mobile-navigation-icons .shopping-bag,
#mobile-navigation-icons .logout {
  transition: 0.3s;
}

#mobile-navigation-icons .shopping-bag svg,
#mobile-navigation-icons .profile-icon svg {
  height: 35px;
}

#mobile-navigation-icons .logout {
  width: 35px;
  margin-left: 150px;
}

#mobile-navigation-icons .shopping-bag:hover,
#mobile-navigation-icons .profile-icon:hover,
#mobile-navigation-icons .logout:hover {
  transition: 0.3s;
  filter: brightness(80%);
}

.mobile-logo a {
  color: #aaa;
}

.mobile-list-item {
  position: relative;
  display: flex;
  justify-content: center;
  transition-delay: 0.8s;
  color: #aaa;
  opacity: 0;
  transform: translate(0%, 100%);
  transition: opacity 0.2s ease, transform 0.3s ease;
  margin-bottom: 25px;
}

.mobile-list-item:before {
  content: "";
  position: absolute;
  background: #d9d9d9;
  width: 0px;
  height: 2px;
  top: 100%;
  transform: translate(0%, 0%);
  transition: all 0.3s ease;
  z-index: -1;
}

.mobile-list-item:hover:before {
  width: 0;
}

body.mobile-navigation-active .mobile-list-item ~ .mobile-list-item:hover:before {
  width: 10%;
}

body.mobile-navigation-active .line {
  background-color: #aaa;
  transform: translateX(0px) rotate(-45deg);
}

body.mobile-navigation-active .line-left {
  transform: translateX(1px) rotate(45deg);
}

body.mobile-navigation-active .line-right {
  transform: translateX(-2px) rotate(45deg);
}

body.mobile-navigation-active .mobile-navigation {
  visibility: visible;
  pointer-events: auto;
}

body.mobile-navigation-active .mobile-navigation:before, body.mobile-navigation-active .mobile-navigation:after {
  transform: translateX(0%) translateY(0%);
}

body.mobile-navigation-active .mobile-navigation:after {
  transition-delay: 0.1s;
}

body.mobile-navigation-active .mobile-navigation:before {
  transition-delay: 0s;
}

body.mobile-navigation-active .mobile-list-item {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

body.mobile-navigation-active .mobile-logo {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 0.5s ease, transform 0.5s ease, color 0.5s ease;
  transition-delay: 0.3s;
}

body.mobile-navigation-active #mobile-navigation-icons {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 0.5s ease, transform 0.5s ease, color 0.5s ease;
  transition-delay: 1.3s;
}

body.mobile-navigation-active .mobile-list-item:nth-child(1) {
  transition-delay: 0.7s;
}

body.mobile-navigation-active .mobile-list-item:nth-child(2) {
  transition-delay: 0.8s;
}

body.mobile-navigation-active .mobile-list-item:nth-child(3) {
  transition-delay: 0.9s;
}

body.mobile-navigation-active .mobile-list-item:nth-child(4) {
  transition-delay: 1.0s;
}

body.mobile-navigation-active .mobile-list-item:nth-child(5) {
  transition-delay: 1.1s;
}

body.mobile-navigation-active .mobile-list-item:nth-child(6) {
  transition-delay: 1.2s;
}

body.mobile-navigation-active .mobile-list-item:nth-child(7) {
  transition-delay: 1.3s;
}

/* 6. Buttons */

.btn {
  display: inline-block;
  padding: 1em 2em;
  border-radius: 0;
  color: var(--font-color);
  font-family: var(--font);
  font-weight: bold;
  font-size: 0.678rem;
  letter-spacing: 2px;
  text-transform: lowercase;
  text-decoration: none;
  cursor: pointer;
  background: linear-gradient(
    to right,
    rgba(210, 238, 249, 0) 25%,
    rgba(210, 238, 249, 0.8) 75%
  );
  background-position: 1% 50%;
  background-size: 400% 300%;
  border: 1px solid var(--font-color);
  transition: 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.btn:hover {
  transition: 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.btn:hover {
  background-position: 99% 50%;
}

#profile-password-btn,
#profile-logout-btn {
  width: 142px;
  margin-top: 15px;
  font-weight: 500;
  margin-right: 5px;
}

#profile-logout-btn {
  text-align: center;
}

.error-btn {
  font-size: 0.850rem;
  padding: 1em 3.5em;
}

/* 7. Search */

#search {
  display: table;
  margin-right: 19px;
}

#search .authenticated {
  background: none;
  border: none;
  outline: none;
  width: 28px;
  min-width: 0;
  padding: 0;
  z-index: 1;
  position: absolute;
  line-height: 18px;
  margin: 5px 0;
  font-size: 14px;
  -webkit-appearance: none;
  font-family: var(--font);
  transition: all 0.6s ease;
  cursor: pointer;
  color: var(--font-color);
  top: 16px;
  right: 116px;
}

#search .non-authenticated {
  right: 77px;
}

#search input + div {
  position: relative;
  height: 23px;
  width: 100%;
  margin: -28px 0 0 0;
}

#search input + div svg {
  display: block;
  position: absolute;
  height: 23px;
  width: 160px;
  right: -13px;
  top: 17px;
  fill: none;
  stroke: var(--font-color);
  stroke-width: 1.5px;
  stroke-dashoffset: 271.908;
  stroke-dasharray: 59 212.908;
  transition: all 0.6s;
}

#search input:not(:placeholder-shown),
#search input:focus {
  width: 129px;
  padding: 0 4px;
  cursor: text;
}

#search input:not(:placeholder-shown) + div svg,
#search input:focus + div svg {
  stroke-dasharray: 150 212.908;
  stroke-dashoffset: 300;
}

::selection {
  background: rgba(255, 255, 255, 0.2);
}

::-moz-selection {
  background: rgba(255, 255, 255, 0.2);
}

/* 8. Mobile Search */

#mobile-search {
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}

#mobile-search-box {
  border: 1px solid #a0a0a0;
  padding: 1.5em 3em;
  width: 12em;
  transition: all 0.5s ease;
}

#mobile-search-box::placeholder {
  color: #a0a0a0;
  font-size: 18px;
  text-transform: lowercase;
}

/* 9. Swiper */

.mySwiper {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.mySwiper .hero-section {
  padding: 0px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-grow: 1;
  position: relative;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin: auto 110px auto 100px;
}

.hero-wrapper {
  width: 390px;
}

.hero-content {
  max-width: 390px;
}

.hero-header {
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: 600;
  transition-delay: 0.2s;
  margin-left: 5px;
}

.hero-title {
  font-family: var(--font);
  font-size: 80px;
  font-weight: 400;
  margin-top: 10px;
  line-height: 1em;
  transition-delay: 0.3s;
}

.hero-subtitle {
  font-family: var(--font);
  font-weight: 400;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition-delay: 0.4s;
}

.hero-content__title {
  font-size: 22px;
  font-family: var(--font);
  font-style: italic;
  margin-bottom: 20px;
  transition-delay: 0.2s;
}

.hero-content__subtitle {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 25px;
  letter-spacing: -0.01em;
  transition-delay: 0.3s;
}

.right-side {
  display: flex;
  position: relative;
  flex-shrink: 0;
  justify-content: center;
  align-items: first baseline;
  flex-direction: column;
  margin: auto 100px auto 0px;
}

/* 9.1 Swiper Images */

.cover {
  width: min(500px, 100%);
  margin: 20px 0;
  border: 20px solid #fff;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.6);
}

.hero-img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  mask: url("https://raw.githubusercontent.com/supahfunk/supah-codepen/master/painting-sprite-2.png");
}

/* 9.2 Swiper Transitions */

.swiper-slide {
  opacity: 0 !important;
  transition: 0.4s;
}

.swiper-slide-active {
  opacity: 1 !important;
}

.swiper-slide .main-wrapper > *,
.swiper-slide .hero-content > * {
  transform: translateY(-30px);
  opacity: 0;
  transition-duration: 0.8s;
}

.swiper-slide .main-wrapper > *,
.swiper-slide .hero-content > .hero-btn {
  transition-duration: 1.2s;
  transition-timing-function: ease;
}

.swiper-slide-active .main-wrapper > *,
.swiper-slide-active .hero-content > * {
  transform: none;
  opacity: 1;
}

.swiper-slide .cover {
  transition-duration: 0.8s;
  opacity: 0;
}

.swiper-slide-active .cover {
  opacity: 1;
}

/* 9.3 Swiper Navigation */

.navigation-arrow-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.navigation-arrow-container .navigation-arrows {
  margin: 0;
  list-style-type: none;
}

.navigation-arrow-container .navigation-arrows li {
  position: absolute;
  bottom: calc(46.5%);
  width: 2em;
  height: 2em;
  border: 6px solid var(--font-color);
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  padding: 2px;
  z-index: 5;
}

.navigation-arrow-container .navigation-arrows li.arrow-left {
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(-45deg);
  transition: 0.3s ease-in-out;
  left: 12%;
}

.navigation-arrow-container .navigation-arrows li.arrow-right {
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(45deg);
  transition: 0.3s ease-in-out;
  right: 9%;
}

.navigation-arrow-container .navigation-arrows li.arrow-left:hover {
  border-left-color: var(--font-color);
  border-top-color: var(--font-color);
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}

.navigation-arrow-container .navigation-arrows li.arrow-right:hover {
  border-right-color: var(--font-color);
  border-top-color: var(--font-color);
  opacity: 0.7;
  transition: 0.3s ease-out;
}

.navigation-arrow-container .navigation-arrows li.arrow-left:active {
  transform: rotate(-45deg) scale(0.9);
}

.navigation-arrow-container .navigation-arrows li.arrow-right:active {
  transform: rotate(45deg) scale(0.9);
}

/* 9.4 Swiper Pagination */

.container .swiper-pagination {
  position: relative;
}

.container .swiper-pagination-bullet {
  background: #000;
  opacity: 0.2;
  width: 12px;
  height: 12px;
  transition: opacity 0.3s ease-in-out;
}

.container .swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 5px;
}

.container .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 45px;
  top: auto;
  right: auto;
  left: 0;
  width: 100%;
}

.container .swiper-pagination > .swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--font-color);
  transition-delay: 0.2s;
}

/* 10. Footer */

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

#footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 15vh;
  text-align: center;
  background-color: #fffffe;
}

#footer-text p {
  color: #bbb;
  margin-bottom: 50px;
}

/* 10.1 Footer Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}

/* 10.2 Footer Mobile */

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}

/* 10.3 Footer Social Icons */

#footer-icons {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 25px 0px;
}

.social-icon-icon {
  width:  30px;
  height: 30px;
  fill: currentColor;
  transition: .5s;
}

.social-icon-icon:hover {
  transition: .5s;
}

.social-icon-link--twitter:hover   { color: #55acee }
.social-icon-link--pixiv:hover    { color: #009cff }
.social-icon-link--weibo:hover    { color: #ea0f1f }
.social-icon-link--twitter:hover::after   { background: #55acee }
.social-icon-link--pixiv:hover::after  { background: #009cff }
.social-icon-link--weibo:hover::after  { background: #ea0f1f }

.social-icon-link {
  position: relative;
  color: #bbb;
}

.social-icon-link:not(:last-of-type) {
  margin-right: 15px;
}

.social-icon-tooltip::before,
.social-icon-tooltip::after {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10px);
  opacity: 0;
  transition: .4s;
}

.social-icon-tooltip::before {
  content: '';
  bottom: calc(100% + 2px);
  border: solid 5px transparent;
  border-top-color: currentColor;
}

.social-icon-tooltip::after {
  content: attr(aria-label);
  bottom: calc(100% + 12px);
  padding: .61em .93em;
  font-size: .875rem;
  color: white;
  border-radius: 3px;
}

.social-icon-tooltip:hover::before,
.social-icon-tooltip:hover::after {
  opacity: 1;
  transform: translate(-50%);
}

/* 11. Forms */

#allauth-container,
#contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 162px 0;
}

#allauth-container input,
#payment-form input,
#card-element,
#id_country,
.profile-details input,
#id_default_country,
#product-management-form input,
#id_category,
#id_description,
#id_message,
#contact-container input,
#id_testimonial {
  border-width: 0px;
  outline: none;
  font-weight: 400;
  width: 90%;
  height: 43px;
  font-size: 16px;
  font-family: var(--font);
  color: var(--font-color);
  background-color: #fff;
  padding: 0 15px;
  box-shadow: 0px 4px 4px #9f9f9f;
  margin: 14px 0 30px 0;
  border-radius: 4px;
}

#id_category {
  width: 97.2%;
}

.profile-details input,
#id_default_country {
  text-transform: lowercase;
  border: 1px solid #ccc;
  box-shadow: none;
  margin: 15px 0;
  width: 100%;
  box-sizing: border-box;
}

#id_country,
#id_default_country,
#id_category {
  color: var(--font-color);
  text-transform: lowercase;
}

#id_description,
#id_message,
#id_testimonial {
  height: 160px;
  padding-top: 10px;
}

#id_message {
  padding-left: 13px;
}

#id_default_country option:not(:first-child) {
  color: var(--font-color);
}

#id_default_country option:first-child {
  color: #9b9b9b;
}

#card-element {
  margin-bottom: 0px;
}

#allauth-container input::placeholder {
  color: transparent;
}

#checkout-form input::placeholder {
  text-transform: lowercase;
}

#allauth-container label,
#checkout-form label {
  padding-left: 3px;
  font-weight: 400;
}

#allauth-container h2,
#contact-container h2 {
  font-size: 16px;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
  font-size: 32px;
  margin-bottom: 35px;
  letter-spacing: 2px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
}

#signup-form,
#login-form,
#logout-form,
#email-form,
#account-info,
#password-form,
#profile-update-form,
#contact-form,
#mc-embedded-subscribe-form {
  font-size: 17px;
  width: 340px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
}

#profile-update-form {
  width: auto;
  border-bottom: none;
  padding-bottom: 0;
}

#payment-form {
  font-size: 17px;
}

#logout-form form {
  display: flex;
  justify-content: center;
}

#signup-form span,
#login-form span {
  font-weight: 500;
  transition: 0.2s ease-in-out;
}

#signup-form span:hover,
#login-form span:hover {
  opacity: 0.7;
  transition: 0.2s ease-in-out;
}

#signup-form ul,
#login-form ul,
#password-form ul,
#contact-form ul {
  color: var(--font-color);
  list-style: none;
  margin: 0px 12.5px 25px 12.5px;
}

#signup-form li,
#login-form li,
#password-form li,
#contact-form li {
  padding: 12.5px 0px;
}

#signup-form .btn,
#login-form .btn,
#contact-form .btn,
#mc-embedded-subscribe-form .btn {
  width: 99%;
  height: 50px;
  font-weight: 600;
  margin: 10px 0 30px 0;
  font-size: 0.778rem;
}

#logout-form .btn,
.confirm-email .btn {
  text-align: center;
  width: 49%;
  height: 50px;
  font-weight: 600;
  margin: 10px 0 30px 0;
  font-size: 0.778rem;
}

#login-form #id_remember,
#payment-form .form-check-input {
  width: auto;
  height: auto;
  box-shadow: none;
  margin-left: 5px;
}

#payment-form .form-check-input {
  margin-bottom: 17px;
}

#allauth-container .email_list input {
  width: auto;
  height: auto;
  box-shadow: none;
  margin: 0;
}

#logout-form p {
  padding: 30px 0 35px 0;
  text-align: center;
}

#end-form p {
  text-align: center;
}

#body-form p,
#email-form p,
#password-form p,
#account-info p {
  text-align: left;
  padding: 12.5px 0;
}

#email-form .opening-pg {
  padding: 30px 0 35px 0;
}

#email-form h3 {
  padding: 15px 0;
}

.verified,
.unverified,
.primary {
  font-weight: 500;
}

.buttonHolder,
.add_email,
.password_change,
.password_reset,
.confirm-email {
  display: flex;
  flex-direction: column;
}

.confirm-email {
  align-items: center;
}

.buttonHolder {
  padding-top: 17.5px;
}

.buttonHolder .btn,
.add_email .btn,
#password-form .btn {
  margin: 12.5px 0 12.5px 0;
  font-size: 0.778rem;
  padding: 1.5em 2em;
}

.add_email .btn {
  margin-bottom: 17.5px;
}

#password-form .password_change .btn {
  margin-bottom: 20px;
}

#password-form .password_reset .btn {
  margin-top: 0;
}

.ctrlHolder {
  padding-top: 5px;
}

#password-form p:last-child {
  padding: 15px 0 17.5px 0;
}

#account-info p:last-child {
  padding-bottom: 17.5px;
}

/* 12. Store */

#store-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
  justify-items: center;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: relative;
  padding: 24px;
  background: #fff;
  border-radius: 0;
  max-width: 420px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#product-title,
#error-title {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.product-overview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.product-category {
  margin-left: 2px;
}

.category {
  margin: 6px 0;
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: 500;
}

.product-image {
  display: block;
  width: 100%;
  max-height: 320px;
  max-width: 360px;
  object-fit: cover;
  margin-bottom: 16px;
}

.product-name {
  display: flex;
  justify-content: start;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
}

.name {
  font-size: 1.9rem;
  line-height: 1;
  margin: 6px 0;
  color: var(--font-color);
  font-weight: 600;
}

.product-price {
  margin-right: 12px;
}

.price {
  font-weight: 500;
  margin: 6px 0;
}

.product-button {
  margin-top: 22px;
}

#product-categories {
  display: flex;
  justify-content: center;
  padding-top: 183px;
  flex-direction: column;
  width: 100%;
}

#product-categories h3 {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

#product-categories ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  list-style: none;
}

#product-categories li {
  display: flex;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

#product-categories li {
  padding-bottom: 30px;
}

#product-categories li a {
  transition: 0.3s ease-in-out;
}

#product-categories li a:hover {
  transition: 0.3s ease-in-out;
  opacity: 0.6;
}

#product-result {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

#product-result strong {
  padding-left: 7px;
}

#product-result #total {
  font-weight: 600;
  padding-right: 5px;
}

#product-home {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  transition: 0.3s ease-in-out;
}

#product-home:hover {
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}

.superuser-btns {
  text-align: right;
  margin: 6px 0;
}

.superuser-btns i {
  transition: 0.3s ease-in-out;
}

.superuser-btns i:last-child {
  margin-left: 6px;
}

.superuser-btns i:hover {
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}

/* 13. Product Details */

.detailed-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 320px;
  max-width: 360px;
  margin: auto;
  padding: 0;
}

.detailed-image {
  border: 20px solid #fff;
  box-shadow: 0 10px 20px -15px rgba(0, 0, 0, 0.6);
  z-index: 2;
  position: relative;
}

.product-detail-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-detail-grid .superuser-btns {
  margin-top: 60px;
}

#product-details {
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.6);
}

#product-details .category {
  font-size: 18px;
  margin-top: 50px;
}

#product-details .name {
  font-size: 2.5em;
}

#product-details .price {
  font-size: 23px;
  margin-bottom: 50px;
}

#product-details .description-title {
  font-size: 20px;
  margin-bottom: 14px;
  font-weight: 500;
}

#product-details .description {
  font-size: 15px;
}

#product-details .product-button {
  margin: 58px 0 50px 0;
}

#product-details .product-button .btn {
  padding: 1.2em 4em;
  font-size: 0.778rem;
  width: 195px;
  font-weight: 500;
}

#product-details .product-button .form-control {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 48px;
  font-size: 15px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  text-align: center;
}

#product-details .product-button  .decrement-qty,
#product-details .product-button  .increment-qty {
  width: 48px;
  cursor: pointer;
  border: 1px solid #111;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

#product-details .product-button  .decrement-qty {
  margin-left: 30px;
}

.fa-minus,
.fa-plus {
  font-size: 10px;
}

#product-details .product-button .input-group {
  display: flex;
}

#product-details .product-button form {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button,
input[type='number'] {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

/* 14. Bag */

#bag {
  border-bottom: 1px solid #ccc;
  padding: 1em 0 2.5em 0;
}

#bag .items {
  display: block;
  width: auto;
  vertical-align: middle;
  padding: 1.5em;
  border-bottom: 1px solid #fafafa;
}

#bag .items .info {
  display: table;
  width: 100%;
}

#bag .items .bag-section {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  }

#bag .items .item-image {
  width: 7.5em;
  float: left;
  border: 8px solid #fff;
  margin-right: 0.7em;
}

#bag .items .bag-section .item-number {
  font-size: 0.85em;
  color: var(--font-color);
  margin-bottom: 0.5em;
}

#bag .items .bag-section h3 {
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 0.025em;
  margin: 0.5em 0;
}

#bag .items .bag-section p {
  display: flex;
  font-size: 1.1em;
  color: var(--font-color);
}

#bag .items .bag-section p .quantity {
  font-weight: bold;
  color: #333;
}

#bag .items .bag-section.product-total p {
  font-weight: bold;
  font-size: 1.25em;
}

#bag .items .bag-section .product-price-mobile {
  display: none;
}

#bag .items .bag-section.product-total {
  display: grid;
  align-items: center;
  margin-top: 1.4em;
}

.product-total .input-group {
  display: flex;
  margin-top: 1em;
}

.product-total .form-control {
  width: 30px;
  height: 30px;
  text-align: center;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

.product-total .decrement-qty,
.product-total .increment-qty {
  width: 25px;
  cursor: pointer;
  border: 1px solid #111;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-total p {
  padding-left: 5px;
}

#bag .items .bag-section.remove-wrap {
  margin-left: 25px;
  display: block;
  margin-top: 32px;
}

a.remove,
a.save {
  width: 18px;
  height: 18px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background: #e0e0e0;
  padding: 0.5em;
  font-size: 0.75em;
  display: grid;
  border-radius: 100%;
  line-height: 0.85;
  transition: all 0.25s linear;
}

a.remove {
  grid-column: 2;
  grid-row: 1;
  margin-left: 2em;
  cursor: pointer;
}

a.save {
  margin-left: 2em;
  margin-top: 1em;
  cursor: pointer;
}

.remove span {
  display: flex;
  align-content: center;
  justify-content: center;
}

a.remove:hover {
  background: #f30;
  transition: all 0.25s linear;
}

a.save:hover {
  background: #2cff00;
  transition: all 0.25s linear;
}

.remove .fa-x,
.save .fa-check {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}

.subtotal {
  display: grid;
  grid-template-columns: 8fr 1fr;
  margin-top: 30px;
}

.subtotal .value-final,
.subtotal .label-final {
  font-size: 1.3em;
  font-weight: bold;
}

.label-sub,
.value-sub {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.value-sub {
  padding-left: 3em;
}

.subtotal .value {
  letter-spacing: -0.025em;
}

.checkout-button-container {
  display: flex;
  justify-content: end;
  padding-top: 1em;
}

.btn-checkout {
  padding: 1.6em 5.7em;
  font-size: 0.85em;
}

.subtotal p {
  font-size: 1.1em;
  padding-top: 0.5em;
}

#bag-title,
#about-title {
  border-bottom: 1px solid #ccc;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 30px;
}

#bag-title h2,
#about-title h2 {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
}

#bag-title .product-button {
  display: flex;
  justify-content: end;
  margin: 0;
}

#empty-bag {
  display: flex;
  justify-content: center;
  align-content: end;
  align-items: center;
  padding: 120px 0px;
  border-bottom: 1px solid #ccc;
  flex-direction: column;
}

#empty-bag .product-button {
  padding-top: 15px;
}

/* 15. Checkout */

#checkout-title h2,
#management-title h2 {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
}

#checkout-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #ccc;
}

#checkout-summary {
  grid-column: 2;
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

#checkout-title,
#management-title {
  border-bottom: 1px solid #ccc;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 30px;
}

#checkout-form {
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

#checkout-top {
  padding: 45px 0;
  font-weight: 500;
}

#checkout-form p {
  padding: 45px 0;
}

#checkout-form legend {
  font-weight: 400;
  padding-left: 3px;
  margin-bottom: 10.5px;
}

#payment-text {
  padding-top: 14.5px;
}

#checkout-grid .back-btn {
  font-size: 0.69rem;
  padding: 1em 2.5em;
}

#checkout-grid #submit-btn {
  cursor: pointer;
  padding: 1em 2.5em;
}

#checkout-summary img {
  max-width: 7em;
  border: 6px solid #fff;
  margin-bottom: 15px;
}

#checkout-summary-title {
  padding: 45px 0;
  font-weight: 500;
}

#checkout-preview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid #fafafa;
}

.preview-price {
  display: flex;
  justify-content: end;
}

.preview-details {
  margin-left: 10px;
}

.preview-details p:nth-child(2) {
  margin-top: 10px;
}

.preview-total {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-items: end;
  margin-top: 15px;
}

.subtotal-preview,
.subtotal-cost {
  text-align: right;
}

.preview-total p {
  padding: 5px 0;
}

.subtotal-cost p:nth-child(3) {
  font-weight: 600;
}

#checkout-summary-headings {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-bottom: 15px;
  border-bottom: 1px solid #fafafa;
  padding-bottom: 15px;
}

#checkout-summary-headings p:nth-child(2) {
  text-align: right;
}

.exclaimation-icon {
  margin-right: 5px;
}

#checkout-form p:last-child {
  padding: 30px 0;
  margin-bottom: 45px;
}

.payment-buttons {
  margin-top: 12.5px;
}

#checkout-grid .payment-buttons .btn {
  font-size: 0.59rem;
}

#card-errors {
  padding: 25.5px 0 12.5px 0
}

#card-errors .icon {
  font-size: 12px;
  margin-right: 5px;
}

#payment-form #id_country {
  width: 98.88%;
}

/* 15.1 Checkout Success */

#order-success-title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
}

#order-success-title h2 {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
}

#order-success-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

#order-success {
  display: flex;
  justify-content: center;
  padding: 45px 0px;
  flex-direction: column;
}

#order-confirmation {
  margin-bottom: 35px;
}

#order-success .product-button {
  display: flex;
  justify-content: center;
  padding-top: 23px;
}

.order-info,
.details-info,
.delivery-info,
.billing-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.order-info p,
.details-info p,
.delivery-info p,
.billing-info p {
  margin: 5px 0;
}

.info-title,
.details-title,
.delivery-title,
.billing-title {
  margin: 10px 0;
}

.order-right {
  display: flex;
  justify-content: end;
}

/* 15.2 Checkout Overlay */

#loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
}

/* 16. SweetAlert Toast Modal */

.swal2-popup.swal2-toast.swal2-show {
  position: relative;
  top: 60px;
}

/* 17. Profile */

.profile-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding: 162px 40px 100px 40px;
  box-sizing: border-box;
}

#profile-wrapper {
  max-width: 860px;
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  transition: all 0.4s ease;
}

#profile {
  display: flex;
  background: #fff;
  height: 100%;
  width: 100%;
  border-radius: 6px;
}

.profile-navigation {
  width: 100%;
  max-width: 220px;
  transition: all 0.6s 0.2s ease;
  z-index: 2;
  border-right: 1px solid #eee;
  background: #fbfbfb;
  border-radius: 6px 0px 0px 6px;
}

.profile-menu {
  width: 40px;
  height: 40px;
  display: none;
  position: absolute;
  right: 5px;
  top: 10px;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: all 0.4s ease;
}

.profile-menu span {
  position: absolute;
  background-color: #b1b2d6;
  width: 24px;
  height: 2px;
  transition: all 0.4s ease;
}

.profile-menu span:nth-child(1) {
  transform: translateY(-8px);
}

.profile-menu span:nth-child(3) {
  transform: translateY(8px);
}

#profile-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.profile-link {
  width: calc(220px - 40px);
  height: 40px;
  display: flex;
  align-items: center;
  background-color: rgba(232, 232, 232, 0.5);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.09em;
  padding: 0 20px;
  box-sizing: border-box;
  color: #999b9d;
  position: relative;
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.4s 0s ease;
  user-select: none;
  border-radius: 3px;
}

.profile-link span {
  z-index: 1;
}

.profile-link a {
  color: inherit;
}

.profile-link:before {
  content: '';
  position: absolute;
  background: rgba(210, 238, 249, 0.8);
  width: 3px;
  height: 100%;
  left: 0;
  transition: all 0.4s cubic-bezier(0.98, 0.04, 0.25, 1);
  border-radius: 3px 0px 0px 3px;
}

.profile-link:hover {
  color: #7995aa;
}

.profile-link:hover:before {
  width: 100%;
  border-radius: 3px;
}

.profile-link.active {
  color: #7995aa;
  width: 210px;
  left: 15px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
}

.profile-link.active:before {
  width: 100%;
  border-radius: 3px;
}

.profile-navigation.show {
  display: flex;
  max-width: 220px;
  transition: all 0.8s cubic-bezier(0.4, 0.35, 0, 1.53);
}

.profile-navigation.show:before {
  transition: all 0.6s ease;
  width: calc(90vw - 220px);
}

.profile-navigation.show .profile-menu {
  right: 10px;
}

.profile-navigation.show .profile-menu span:nth-child(1) {
  width: 13px;
  transform: translate(-8px, -4px) rotate(-45deg);
}

.profile-navigation.show .profile-menu span:nth-child(3) {
  width: 13px;
  transform: translate(-8px, 4px) rotate(45deg);
}

.profile-navigation.show .profile-link {
  transition: all 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.15);
  transform: translateX(0%);
  opacity: 1;
}

.profile-navigation.show .profile-link:nth-child(1) {
  transition-delay: 0.4s;
}

.profile-navigation.show .profile-link:nth-child(2) {
  transition-delay: 0.6s;
}

.profile-navigation.show .profile-link:nth-child(3) {
  transition-delay: 0.8s;
}

.profile-navigation.show .profile-link:nth-child(4) {
  transition-delay: 1s;
}

.profile-navigation.show .profile-link:nth-child(5) {
  transition-delay: 1.2s;
}

.profile-link {
  transition: all 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.15);
  transform: translateX(0%);
  opacity: 1;
  transition-delay: 0.2s;
}

.profile-details {
  width: 100%;
  padding: 50px 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--font-color);
  font-weight: 500;
  position: relative;
  height: 40px;
  transition: all 0.3s ease;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  padding-bottom: 25px;
  margin-bottom: 20px;
}

.title:before {
  content: '';
  position: absolute;
  background: rgba(210, 238, 249, 0.8);
  width: 30px;
  height: 2px;
  left: 0;
  bottom: 0;
  transition: all 0.4s ease;
}

.profile-details p {
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--font-color);
  transition: all 0.3s ease;
  padding: 12.5px 0;
}

.profile-details .btn,
#testimonials .btn {
  padding: 1.2em 4em;
  font-size: 0.778rem;
  margin-top: 15px;
  font-weight: 500;
}

.profile-details h3 {
  padding: 12.5px 0;
}

#password-reset {
  display: block;
}

#password-reset span {
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

#password-reset span:hover {
  opacity: 0.6;

  transition: 0.3s ease-in-out;
}

/* 17.1 Profile Order History */

#order-history {
  display: flex;
}

#order-table {
  width: 80%;
  text-align: left;
}

#order-table td,
#order-table th {
  padding: 10px;
}

#order-table th {
  white-space: nowrap;
}

#order-table td {
  vertical-align: middle;
}

#order-table i {
  transition: 0.2s ease-in-out;
}

#order-table i:hover {
  opacity: 0.6;
  transition: 0.2s ease-in-out;
}

#smaller-title {
  font-size: 18px;
}

/* 18. Error Pages */

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 162px 40px 100px 40px;
  flex-direction: column;
  height: 50vh;
}

#error-title {
  font-size: 80px;
  padding-bottom: 30px;
}

#error-message {
  text-align: center;
  padding-bottom: 40px;
}

#error-message h3 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 3px;
  padding-bottom: 45px;
}

#error-message p {
  padding-bottom: 10px;
}

/* 19. About */

#about-blurb {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}

#about-description {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

#about-description h3 {
  font-size: 24px;
  letter-spacing: 3px;
  margin-bottom: 30px;
}

#about-description h4 {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 30px;
}

#about-description p {
  margin-bottom: 15px;
}

#about-description p:last-child {
  margin-bottom: 0px;
}

#about-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#about-image img {
  width: 210px;
  border-radius: 100%;
  transform: scaleX(-1);
}

#about-links {
  margin-top: 30px;
}

#about-links ul {
  display: flex;
}

#about-links li {
  list-style: none;
  margin-right: 15px;
  font-size: 18px;
}

#about-links i {
  border: 2px solid var(--font-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  transition: 0.3s ease-in-out;
}

#about-links i:hover {
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}

/* 20. Product Management */

#product-management {
  display: grid;
  justify-items: center;
}

#management-subtitle {
  width: 400px;
}

#product-management-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

#product-management-form p {
  margin-bottom: 30px;
}

#product-management h5 {
  font-size: 24px;
  margin: 30px 0;
  font-weight: 500;
  letter-spacing: 2px;
  align-items: initial;
  display: flex;
}

#management-btns {
  display: flex;
}

#management-btns .btn,
.btn-file {
  padding: 1.2em 4em;
  font-size: 0.778rem;
  margin-top: 15px;
  font-weight: 500;
}

#management-btns a {
  margin-right: 5px;
}

.btn-file {
  position: relative;
  overflow: hidden;
  width: 105px;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox #image-clear_id {
  height: auto;
  width: auto;
  margin: 0;
  box-shadow: none;
  cursor: pointer;
}

#div_id_image #new-image {
  margin: 0;
  padding: 0;
  height: auto;
}

#product-management-form #filename {
  margin: 10px 0 0 0;
}

/* 21. Wishlist */

#wishlist-icon {
  text-align: right;
  margin-top: 50px;
}

#wishlist-icon i {
  font-size: 25px;
  transition: 0.3s ease-in-out;
}

#wishlist-icon i:hover {
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}

.name-link {
  transition: 0.3s ease-in-out;
  font-weight: 400;
}

.name-link:hover {
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}

/* 22. Newsletter */

#contact-container #mc_embed_signup form {
  margin: 0;
}

#mc_embed_signup h2,
.indicates-required {
  display: none;
}

#contact-container #mc_embed_signup input {
  display: block;
  width: 90%;
  padding: 0 15px;
  text-indent: 0;
  border: none;
  border-radius: 4px;
  }

#contact-container #mc_embed_signup,
#contact-container #mc_embed_signup #mce-success-response {
  background: var(--body-color);
  font: 14px var(--font);
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

#contact-container #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  margin: 2px 0 1em 0;
  padding: 5px;
  background-color: var(--body-color);
  border-radius: 0;
  font-size: 14px;
  color: var(--font-color);
}

#contact-container #mc_embed_signup div.response {
  padding: 0px;
  width: 120%;
}

#contact-container #mc_embed_signup .mc-field-group {
  padding: 0;
  width: 100%;
}

#contact-container #mc-embedded-subscribe {
  font-weight: 500;
}

/* 23. Testimonials */

#testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#testimonials-table {
  width: 100%;
  text-align: left;
}

#testimonials-table th {
  white-space: nowrap;
}

#testimonials-table td, #testimonials-table th {
  padding: 10px;
}

#testimonials .btn {
  width: 91px;
  height: auto;
}

/* 24. Media Query */

/* 24.1 Navigation Query */

@media screen and (max-width: 1000px) {

  #navigation-bar {
    display: none;
  }

  .line,
  .menu-icon,
  #fullscreen-navigation {
    display: block;
  }
}

/* 24.2 Store Query */

@media screen and (min-width: 640px) {

  #store-grid {
    grid-template-columns: 1fr 1fr;
  }

}

/* 24.3 Product Details Query */

@media (min-width: 900px) {

  .detailed-product-container {
    flex-direction: row;
    align-items: normal;
    margin: auto;
  }

  .detailed-image-container {
    padding: 79px 20px 119px 0px;
    max-width: 360px;
    margin-left: 20px;
  }

  .detailed-image {
    z-index: -1;
    box-shadow: 0 10px 20px -20px rgba(0, 0, 0, 0.6);
  }

  #product-details {
    width: 100%;
  }

  #product-categories ul {
    display: inline-flex;
  }

  #product-categories h3 {
    padding-bottom: 30px;
  }

  #product-categories li:not(:first-child) {
    padding-left: 30px;
  }

  #product-categories li {
    padding-bottom: 0px;
  }

  #product-home {
    padding-bottom: 30px;
  }

}

/* 24.4 Bag Query */

@media (min-width: 900px) {

  .bag-container,
  .about-container,
  .management-container {
    padding: 183px 4% 180px 4%;
  }

}

@media only screen and (max-width: 750px) {

  #bag .items .bag-section .item-number {
    margin: 1em 0 0.5em 0;
  }

  #bag .items {
    padding: 1.5em 1.5em 0 1.5em;
  }

  .bag-wrapper {
    display: flex;
    justify-content: center;
  }

  #bag .items .bag-section {
    display: grid;
  }

  #bag .items .item-image {
    width: 11.5em;
    float: none;
    margin-right: 0;
  }

  #bag .items .info {
    display: table;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .subtotal {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .checkout-button-container {
    justify-content: center;
    padding-top: 30px;
  }

  #bag .items .bag-section h3 {
    font-size: 1em;
  }

  #bag .items .bag-section .product-price-mobile {
    display: flex;
    margin-top: 1em;
    font-weight: bold;
    font-size: 1em;
  }

  #bag .items .bag-section.product-total p {
    display: none;
  }

  #bag .items .bag-section.product-total .remove {
    display: grid;
  }

  a.save {
    grid-row: 3;
    margin: 2em 1.5em 0 0;
  }

  a.remove {
    grid-row: 3;
    margin: 2em 0em 0 7.5em;
  }

  #bag .items .bag-section.product-total {
    margin: auto;
  }

  #bag .items .bag-section.product-total form {
    display: flex;
    flex-direction: row;
    align-items: end;
  }

}

/* 24.5 Checkout Query */

@media (max-width: 970px) {

  #checkout-summary {
    grid-column: 1;
    grid-row: 1;
  }

  #checkout-grid {
    grid-template-columns: 1fr;
  }

}

/* 24.6 Checkout Success Query */

@media (max-width: 620px) {

  .order-left {
    text-decoration: underline solid #9d9d9d;
  }

  .order-info,
  .details-info,
  .delivery-info,
  .billing-info {
    grid-template-columns: 1fr;
  }

  .order-right {
    justify-content: flex-start;
  }

}

/* 24.7 Profile Query */

@media screen and (max-width: 799px) {

  #profile {
    position: relative;
  }

  .profile-container {
    padding: 113px 5%;
  }

  #profile-wrapper {
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .profile-navigation {
    max-width: 50px;
    position: absolute;
    height: 100%;
  }

  .profile-navigation:before {
    content: '';
    position: absolute;
    background: #c4c4c4;
    width: 0;
    height: 100%;
    left: 100%;
    border-radius: 0px 3px 3px 0px;
    transition: all 0.6s ease;
    opacity: 0.8;
  }

  .profile-menu {
    display: flex;
  }

  .profile-navigation .profile-link {
    transform: translateX(-100%);
    opacity: 0;
  }

  .profile-details {
    padding: 50px 70px 50px 120px;
  }

  .general {
    margin-bottom: 50px;
  }

}

@media screen and (max-width: 600px) {

  .profile-details {
    padding: 50px 30px 50px 80px;
  }

}

/* 24.8 Profile Order Query */

@media screen and (max-width: 650px) {

  #order-table {
    width: auto;
    border: none;
  }

  #order-table tr {
    background: rgba(0, 0, 0, 0.1);
    border: 1px #ccc solid;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  #order-table tr:nth-child(2n) {
    background: rgba(0, 0, 0, 0);
  }

  #order-table tr:nth-child(2n + 1) {
    background: rgba(0, 0, 0, 0);
  }

  #order-table,
  tr,
  td {
    display: block;
  }

  #order-table td:first-child {
    background-color: transparent;
    border-bottom: 1px rgba(210, 238, 249, 0.8) dashed;
    position: relative;
    top: 0;
    transform: translateY(0);
    width: auto;
    font-weight: 500;
    padding-left: 14px;
  }

  #order-table tr:first-child {
    display: none;
  }

  #order-table td:not(:first-child) {
    clear: both;
    margin-left: 100px;
    padding: 4px 20px 4px 90px;
    position: relative;
    text-align: left;
  }

  #order-table td:not(:first-child):before {
    font-weight: 600;
    content: "";
    display: block;
    left: 0;
    position: absolute;
  }

  #order-table td:nth-child(2):before {
    content: "Date:";
  }

  #order-table td:nth-child(3):before {
    content: "Price:";
  }

  #order-table tr {
    padding: 20px 0;
    position: relative;
    border-bottom: 1px rgba(210, 238, 249, 0.8) dashed;
  }

  #order-table tr:first-child {
    display: none;
  }

  #order-table td {
    padding-bottom: 8px;
  }

  #order-table tr {
    border: 1px rgba(210, 238, 249, 0.8) solid;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 0;
    width: 200px;
  }

  #order-table td:first-child {
    background-color: transparent;
    border-bottom: 1px rgba(210, 238, 249, 0.8) dashed;
    position: relative;
    top: 0;
    transform: translateY(0);
    width: auto;
  }

  #order-table td:not(:first-child) {
    margin: 0;
    padding: 5px 1em;
    width: 100%;
  }

  #order-table td:not(:first-child):before {
    font-size: 0.8em;
    padding-top: 0.3em;
    position: relative;
  }

  #order-table td:last-child {
    padding-bottom: 1rem;
  }
}

/* 24.9 Errors Query */

@media screen and (max-width: 799px) {
  .error-container {
    padding: 100px 5%;
    height: 60vh;
  }
}

/* 24.10 About Query */

@media screen and (max-width: 900px) {

  #about-blurb {
    grid-template-columns: 1fr;
  }

  #about-image img {
    margin-top: 30px;
  }
}

/* 24.11 Home Query */

@media screen and (max-width: 1700px) {

  .navigation-arrow-container .navigation-arrows li.arrow-left {
    left: 8%;

  }

  .navigation-arrow-container .navigation-arrows li.arrow-right {
    right: 5%;
  }

}

@media screen and (max-width: 1500px) {

  .navigation-arrow-container .navigation-arrows li.arrow-left {
    left: 5%;

  }

  .navigation-arrow-container .navigation-arrows li.arrow-right {
    right: 2%;
  }

}

@media screen and (max-width: 1300px) {

  .navigation-arrow-container .navigation-arrows li.arrow-left {
    left: 5%;
  }

  .navigation-arrow-container .navigation-arrows li.arrow-right {
    right: 2%;
  }

}

@media (max-width: 1100px) {

  .cover {
    width: 300px;
  }

  .container {
    height: auto;
  }

  .mySwiper .hero-section {
    grid-template-columns: 1fr;
    padding: 50px 0 50px 0;
  }

  .right-side {
    margin: 0;
    align-items: center;
  }

  .left-side {
    align-items: center;
    text-align: center;
    width: auto;
    margin: 0;
    grid-row: 2;
    margin-top: 50px;
  }

  .navigation-arrow-container .navigation-arrows li {
    bottom: calc(67.5%);
  }

  .swiper-pagination {
    margin-bottom: 0px;
  }

  .swiper-wrapper {
    position: relative;
    height: auto;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 459px;
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
  }

  .pagination-wrapper {
    position: relative;
  }

  .navigation-arrow-container .navigation-arrows li.arrow-left {
    left: 3%;
  }

  .navigation-arrow-container .navigation-arrows li.arrow-right {
    right: 3%;
  }

}
