{% extends "account/base.html" %}

{% load i18n %}

{% block title %}logout{% endblock %}

{% block content %}
<div id="form-container">
  <div id="logout-form">
    <h2>{% trans "Logout" %}</h2>
    <p>{% trans 'Are you sure you want to log out?' %}</p>
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
      {% endif %}
      <button type="submit" class="btn end-btn">
        {% trans 'Logout' %}
      </button>
    </form>
  </div>
</div>
{% endblock %}
