{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}reset password{% endblock %}

{% block inner_content %}
<div id="password-form">
  <h2>{% trans "Reset Password" %}</h2>
  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}
  <p>{% trans "Enter your e-mail address below if you've forgotten or misplaced your password, and we'll send you an e-mail allowing you to reset it." %}</p>
  <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn">Reset My Password</button>
  </form>
  <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
{% endblock %}
