{% extends "base.html" %}

{% block title %}about{% endblock %}

{% block content %}

<section class="bag-container">
  <div id="bag-title">
    <h2>about</h2>
  </div>
  <div id="about-blurb">
    <div id="about-image">
      <img src="https://expuella.carrd.co/assets/images/image01.jpg?v=607e0fa1">
    </div>
    <div id="about-description">
      <h3>expuella</h3>
      <h4>artist, illustrator, character designer</h4>
      <p>cat-loving, color-driven, self-represented illustrator taking freelance work. for business, please contact via email.</p>
      <p>neon shore was my business name of choice every since I started freelancing online and it's derived from my love of tropical settings, and neon aesthetics. Both of these things helped form my identity and this concept has stuck with me since then.</p>
      <p>With my own personal store, I hope to bring you cute pieces of merchandise (and not just prints because I know people are running out of wall space haha).</p>
      <p>thank you for reading this far and for all the support i've been given over these past few years especially. it's helped me grow throughout very tumultous periods for social media and make a name for myself. i couldn't have done it without the support of you all!</p>
    </div>
  </div>
</section>

{% endblock %}
