{% extends "base.html" %}

{% block title %}add product{% endblock %}

{% block content %}

<div class="management-container">
  <div id="management-title">
    <h2>Product Management</h2>
  </div>
  <div id="product-management">
    <div id="management-subtitle">
      <h5>Add A Product</h5>
    </div>
    <form method="POST" action="{% url 'add_product' %}" id="product-management-form" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form | crispy }}
      <div id="management-btns">
        <a class="btn" href="{% url 'products' %}">Cancel</a>
        <button class="btn" type="submit">Add Product</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
