{% extends "base.html" %}

{% block title %}products{% endblock %}

{% block content %}

<div id="product-categories">
  <h2 id="product-title">store</h2>
  <h3>categories</h3>
    {% if search_term or current_categories or current_sorting != 'None_None' %}
      <a id="product-home" href="{% url 'products' %}">show all</a>
    {% endif %}
    <ul>
      <li>
        <a href="{% url 'products' %}?category=prints">prints</a>
      </li>
      <li>
        <a href="{% url 'products' %}?category=artbooks">artbooks</a>
      </li>
      <li>
        <a href="{% url 'products' %}?category=charms">charms</a>
      </li>
      <li>
        <a href="{% url 'products' %}?category=pins">pins</a>
      </li>
      <li>
        <a href="{% url 'products' %}?category=stickers">stickers</a>
      </li>
      <li>
        <a href="{% url 'products' %}?category=bundles">bundles</a>
      </li>
    </ul>
    <p id="product-result">
      <span id=total>{{ products|length }}</span> Products {% if search_term %} found for <strong> "{{ search_term }}"</strong>{% endif %}
    </p>
</div>
<div class="products-container">
  <div id="store-grid">
    {% for product in products %}
      <div class="product">
        {% if product.image %}
        <a href="{% url 'product_detail' product.id %}">
          <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
        </a>
        {% else %}
        <a href="{% url 'product_detail' product.id %}">
          <img class="product-image" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }}">
        </a>
        {% endif %}
        <div class="product-overview">
          <div class="product-regular">
            <div class="product-category">
              <p class="category">{{ product.category.singular_name }}</p>
            </div>
            <div class="product-name">
              <p class="name">{{ product.name }}</p>
            </div>
            <div class="product-price">
              <p class="price">${{ product.price }}</p>
            </div>
            <div class="product-button">
              <a class="btn" href="{% url 'product_detail' product.id %}">buy now</a>
            </div>
          </div>
          {% if request.user.is_superuser %}
          <div class="superuser-btns">
            <a href="{% url 'edit_product' product.id %}"><i class="fa-solid fa-pen"></i></a>
            <a href="{% url 'delete_product' product.id %}"><i class="fa-solid fa-trash last"></i></a>
          </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
