{% extends "base.html" %}

{% block title %}products{% endblock %}

{% block content %}

<div id="product-categories">
  <h2>categories</h2>
    <ul>
      <li>
        <a href="{% url 'products' %}?category=prints">prints</a>
      </li>
      <li>
        <a href="{% url 'products' %}?category=artbooks">artbooks</a>
      </li>
      <li>
        <a href="{% url 'products' %}?category=charms">charms</a>
      </li>
      <li>
        <a href="{% url 'products' %}?category=pins">pins</a>
      </li>
      <li>
        <a href="{% url 'products' %}?category=stickers">stickers</a>
      </li>
      <li>
        <a href="{% url 'products' %}?category=bundles">bundles</a>
      </li>
    </ul>
</div>
<div class="products-container">
  <div id="store-grid">
    {% for product in products %}
      <div class="product">
        {% if product.image %}
        <a href="{% url 'product_detail' product.id %}">
          <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
        </a>
        {% endif %}
        <div class="product-category">
          <p class="category">{{ product.category.singular_name }}</p>
        </div>
        <div class="product-name">
          <p class="name">{{ product.name }}</p>
        </div>
        <div class="product-price">
          <p class="price">${{ product.price }}</p>
        </div>
        <div class="product-button">
          <a class="btn" href="{% url 'product_detail' product.id %}">buy now</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
