<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' %}

    <title>{% block title %}{% endblock %} - neon shore</title>
  </head>
  <body>
    {% include 'components/navigation.html' %}

    {% if messages %}
      {% for message in messages %}
        {% include 'components/flash-messages.html' %}
      {% endfor %}
    {% endif %}

    {% block content %}

    {% endblock %}

    {% include 'components/footer.html' %}

    {% block stripejs %}

    {% endblock %}

    {% include 'scripts.html' %}
  </body>
</html>

