{% load static %}

<!-- Meta Data -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="neon shore, expuella's personal merchandise store.">
<meta name="keywords" content="neon shore, art, merchandise, prints, charms, anime">
<meta name="author" content="Ryael">
<!-- End Meta Data -->

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/raycloud55/image/upload/v1688940138/favicon_jkfgg6.ico">
<!-- Favicon -->

<!-- CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">
<link rel="stylesheet" href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" type="text/css">
<!-- End CSS -->

<!-- Extra JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://js.stripe.com/v3/"></script>
<!-- End JS -->
